<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Oddam rzeczy</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"/>
</head>
<body id="home">
<nav th:replace="logged_in_nav.html :: admin_nav"></nav>
<div id="section1" class="jumbotron bg-light my-4 py-5">
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>Pełna nazwa</th>
                <th>Adres</th>
                <th>Województwo</th>
                <th>Cel pomocy</th>
                <th>Obecnie aktywna</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="organization:${organizations}">
                    <td th:text="${organization.name}"></td>
                    <td th:text="${organization.address}"></td>
                    <td th:text="${organization.location.name}"></td>
                    <td th:text="${organization.target.name}"></td>
                    <td th:text="${organization.active ? 'Tak' : 'Nie'}"></td>
                    <td>
                        <a th:if="${organization.active}" th:href="@{/admin/deactivate_organization/}+${organization.id}" class="btn btn-primary m-1">Dezaktywuj</a>
                        <a th:if="${organization.active == false}" th:href="@{/admin/activate_organization/}+${organization.id}" class="btn btn-primary m-1">Aktywuj</a>
                        <a th:href="@{/admin/edit_organization/}+${organization.id}" class="btn btn-primary m-1">Edytuj</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <a href="/admin/new_organization" class="btn btn-primary btn-block m-2">Dodaj organizację</a>
</div>
<script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>