<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Oddam rzeczy</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>
<body id="home">
<nav th:replace="logged_in_nav.html :: user_nav"></nav>
<div id="section1" class="jumbotron bg-light my-4 py-5">
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>Organizacja</th>
                <th>Liczba worków</th>
                <th>Przedmiot darowizny</th>
                <th>Data przekazania kurierowi</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="donation:${donations}">
                    <td th:text="${donation.organization.name}">Nazwa organizacji</td>
                    <td th:text="${donation.bags}">Liczba worków</td>
                    <td><span th:each="category:${donation.categories}" th:text="${category.name}+', '"></span></td>
                    <td>
                        <span th:text="${donation.wasCollected} ? ${donation.stringCollected} : ${donation.stringCollected}+' (oczekuje na przekazanie)'"></span>
                    </td>
                    <td>
                        <a th:if="${donation.wasCollected == false}" th:href="@{/user/collect/}+${donation.id}" class="btn btn-primary">Oznacz jako przekazane</a>
                    </td>
                </tr>
            </c:forEach>
            </tbody>
        </table>
    </div>
</div>
<script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>