<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Oddam rzeczy</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"/>
    <link rel="stylesheet" href="/css/form.css"/>
</head>
<body id="home">
<nav th:replace="logged_in_nav.html :: user_nav"></nav>
<div id="section1" class="container ml-1 text-center">
    <div class="row mt-5 mb-3">
        <div class="col-3">
            <div class="card mt-4 border-dark">
                <div class="card-body bg-success text-center">
                    <h3>1</h3>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mt-4 border-dark">
                <div class="card-body bg-success text-center">
                    <h3>2</h3>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mt-4 border-dark">
                <div class="card-body bg-success text-center">
                    <h3>3</h3>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mt-4 border-dark">
                <div class="card-body bg-success text-center">
                    <h3>4</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <p class="display-4">Szczegóły przekazania rzeczy kurierowi</p>
    </div>
</div>
<div class="jumbotron bg-primary text-white pt-3 pb-2 mb-2">
    <h6>Kurier może odebrać od Ciebie rzeczy w dni robocze (pn-pt) w godzinach 8:00-18:00.</h6>
</div>
<div id="form-section" class="container">
    <form action="/user/form4" method="post">
        <div class="form-group">
            <h5>Adres odbioru</h5>
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                <span class="input-group-text">
                  Ulica:
                </span>
                </div>
                <input type="text" class="form-control" name="street" required="required"/>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                <span class="input-group-text">
                  Miasto:
                </span>
                </div>
                <input type="text" class="form-control" name="city" required="required"/>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                <span class="input-group-text">
                  Kod pocztowy:
                </span>
                </div>
                <input type="text" class="form-control" name="zip" required="required"/>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                <span class="input-group-text">
                  Telefon:
                </span>
                </div>
                <input type="text" class="form-control" name="phone" required="required"/>
            </div>
        </div>
        <h5>Termin odbioru</h5>
        <div class="input-group mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text">
                  Data:
                </span>
            </div>
            <input type="date" class="form-control" name="date" required="required"/>
            <p class="text-danger" th:text="${dateMessage}"></p>
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text">
                  Godzina:
                </span>
            </div>
            <input type="text" class="form-control" name="time" required="required"/>
            <p class="text-danger" th:text="${timeMessage}"></p>
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text">
                  Uwagi dla kuriera:
                </span>
            </div>
            <input type="text" class="form-control" name="remarks"/>
        </div>
        <a href="/user/form3a" class="btn btn-secondary btn-lg float-left mt-3 px-5">Cofnij</a>
        <input class="btn btn-primary btn-lg float-right my-3 px-5" type="submit" value="Dalej"/>
    </form>
</div>

<script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>