.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
}

@media (min-width: 768px) {
    #section1 .display-4 {
        font-size: 4rem;
    }
}

@media (max-width: 768px) {
    #section1 .display-4 {
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    #section1 .display-4 {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    #section1 p {
        font-size: 1.8rem;
    }
}